.*.sw*
yui3
node_modules
build_tmp
build_rollup_tmp
build/lang/upstage_*
build/lang/upstage-l10n_*
build/lang/upstage.js
build/*-debug.js
build/upstage-controls*
build/upstage-blank.js
build/upstage-gesture.js
build/upstage-keyboard.js
build/upstage-deck-core.css
build/upstage-l10n*
build/upstage-permalink.js
build/upstage-slideshow.js
build/upstage.js
