.csstransitions.csstransforms .deck-container .slide {
  -webkit-transition: opacity 500ms ease-in-out 0ms;
  -moz-transition: opacity 500ms ease-in-out 0ms;
  -ms-transition: opacity 500ms ease-in-out 0ms;
  -o-transition: opacity 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms;
}
